html
  head
    meta(http-equiv="refresh" content="0; URL=http://sparqlcity.com/svx-demo")
    title SPARQLverse R Demo Gallery
  body
    h1 SPARQLverse R Demo Gallery
    p You are being redirected to the <a href="http://sparqlcity.com/svx-demo">demo gallery page</a> on the SPARQLCity website.