.DS_Store
thumbs.db
*.swp
*.swo

node_modules
npm_debug.log
npm-debug.log

bower_components

.Rproj.user
.Rhistory
*.Rproj

.sass-cache

# R default web distro (compiled css, js, images, etc)
www

# R endpoint text file
endpoint.txt
